{% extends 'base.html' %}

{% block header %}
    <h1 class="text-center my-3">{% block title %}Cadastro{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div id="form-div" class="d-flex flex-column justify-center mt-5 h-100 w-50 m-auto">
        <form method="POST" action="{{ url_for('auth.register') }}">
            <div class="mb-3">
                <label for="username" class="form-label">Usuário</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Nome Completo</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="mobilenumber" class="form-label">Telefone (WhatsApp)</label>
                <input type="text" class="form-control" id="mobilenumber" name="mobilenumber">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}