{% extends 'base.html' %}


{% block header %}
    <h1 class="my-3">{% block title %}Perfil{% endblock %}</h1>
{% endblock %}


{% block content %}
<div class="row">

    <div class="col-md-6">

        <div class="my-5">
            <div class="row">
                <div class="col-md-4">Código</div>
                <div class="col-md-6">{{ u.id }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Nome</div>
                <div class="col-md-6">{{ u.name }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Usuário</div>
                <div class="col-md-6">{{ u.username }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Telefone</div>
                <div class="col-md-6">{{ u.mobilenumber }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Email</div>
                <div class="col-md-6">{{ u.email }}</div>
            </div>
            <!-- <div class="row">
                <div class="col-md-4">Sou beneficiário</div>
                <div class="col-md-6">{{ beneficiario }}</div>
            </div> -->
            {% if not beneficiario %}
            <!-- <div class="row">
                <form action="" method="post">
                    <button role="btn" class="btn btn-primary" type="submit">Me tornar beneficiario</button>
                </form>
            </div> -->
            {% endif %}
        </div>

        <div class="my-5 row">
            <div class="col-md-8">
                <div class="list-group">
                    <a href="{{ url_for('usuario.addresses', id = g.user['id']) }}" class="list-group-item list-group-item-action">Meus Endereços</a>
                    <a href="{{ url_for('usuario.emprestimos', id = g.user['id']) }}" class="list-group-item list-group-item-action">Meus Empréstimos</a>
                    <a href="{{ url_for('usuario.beneficiarios', id = g.user['id']) }}" class="list-group-item list-group-item-action">Beneficiários</a>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <img class="rounded mx-auto d-block w-50 img-thumbnail" src="{{ url_for('static', filename='images/placeholder-profile.jpg') }}" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock%}